<footer>
    <div class="foot">
            <div id="social-icons">
                <a href="https://twitter.com/Harshit00334147?s=08">
                    <img width="50" height="50" src="https://img.icons8.com/bubbles/50/twitter-squared.png" alt="twitter-squared"/>
                </a>
                <a href="https://www.facebook.com/988HARSHIT">
                    <img width="50" height="50" src="https://img.icons8.com/bubbles/50/facebook.png" alt="facebook"/>
                </a>
                <a href="https://www.instagram.com/harshit_tyagi_3001?r=nametag">
                    <img width="50" height="50" src="https://img.icons8.com/bubbles/50/instagram-new--v2.png" alt="instagram-new--v2"/>
                </a>
                <a href="https://www.linkedin.com/in/harshit-tyagi-8275701b1">
                    <img width="50" height="50" src="https://img.icons8.com/bubbles/50/linkedin.png" alt="linkedin"/>
                </a>
                <a href="https://www.youtube.com/">
                    <img width="50" height="50" src="https://img.icons8.com/bubbles/50/youtube-play.png" alt="youtube-play"/>
                </a>
            </div>
            <p>Copyright <span>&copy;</span> 2023 Blogs. All Rights Reserved. <br>Made with <img width="30" height="30" src="https://img.icons8.com/bubbles/50/like.png" alt="like"/> by Harshit Tyagi </p>
    </div>
</footer>