.postContent{

    width: 50%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
    margin-top: 7%;
    left: auto;
    background-color: blanchedalmond;
    text-indent: 5px;
    box-shadow: 10px 10px 25px #E6B0AA;
    box-sizing: border-box;
    border-color: brown;
    padding: 1rem 20px;
    
    font-family: cursive;
    border-radius: 30px;
}

.postContent #post{
    border-color: #641E16;
    color: #641E16;
    display: flex;
    margin-left: 2%;
    opacity: 80%;    
}


.postContent #post:hover{
    color: aliceblue;
    background-color: #641E16 ;
    opacity: 80%;
}

#exampleFormControlInput1, #exampleFormControlTextarea1{
    opacity: 80%;
}